<h1>Top Page</h1>
<% @post.each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-memo">
      <%= post.memo %>
    </div>
  </div>
<% end %>